<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://cxf.apache.org/jaxrs
		http://cxf.apache.org/schemas/jaxrs.xsd"
	default-lazy-init="false">
	<import resource="applicationContext-db.xml" />
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<bean id="apiServiceImpl" class="com.pwc.ApiServiceImpl"></bean>
	<bean id="cors-filter"
		class="org.apache.cxf.rs.security.cors.CrossOriginResourceSharingFilter" />
	<bean id="accessToken" class="com.pwc.AccessTokenService">
		<property name="clientDao" ref="clientDao" />
	</bean>
	<jaxrs:server id="logmonService" address="/">
		<jaxrs:serviceBeans>
			<ref bean="apiServiceImpl" />
			<!-- <ref bean="cors-server" /> -->
			<ref bean="accessToken" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="xml" value="application/xml" />
			<entry key="json" value="application/json" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<ref bean="cors-filter" />
		</jaxrs:providers>
	</jaxrs:server>

</beans>
